@using SpaceShooter.Models;
@using SpaceShooter.ViewModels;
@model FriendsModel

@{
  Layout = "_Layout";
}

<div class="friends-container">
  @Html.Partial("_menubar")
  <div class="friends-wrapper">

    <a class="a-title" href="/">
      <div id="friends-title">
          <div class="friends-title">
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          </div>
        </div>
      </a>

    <p id="friends-content-title">Friends</p>

    <div class="friends-results-wrapper">

      @foreach(PlayerListEntry friend in Model.FriendsList){
        <a href="/profile/0">
          <div class="friends-result">
            <div class="friends-pic">
              <img src="../../img/playerShip1_blue.png">
            </div>
            <div class="friends-name">
            <div class="friends-profile-name">
              <p>@friend.Name</p>
            </div>
            <div class="friends-profile-rank">
              <p>High Score</p>
              <p>@friend.Score</p>
            </div>
            </div>
          </div>
        </a>
      }

    </div>
  </div>
</div>
