@{
  Layout = "_Layout";
}


<div class="gamepage-container box">
  @Html.Partial("_menubar")
  <div class="gamepage-title box">
    <p>Title</p>
  </div>

  <div class="gamebox-placeholder box">
    <canvas id="game-window" style="border: 10px solid black" width="640" height="480"></canvas>
  </div>
</div>
