@{
  Layout = "_Layout";
}


<div class="gamepage-container">
  @Html.Partial("_menubar")

  <div id="gamepage-title">
      <div class="gamepage-title">
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
      </div>
    </div>


  <div class="gamebox-placeholder">
    <canvas id="game-window" width="640" height="480"></canvas>
  </div>

  <p class="change-background">Change background</p>

</div>
