@{
  Layout = "_Layout";
}


<div class="gamepage-container">
  @Html.Partial("_menubar")


  <a class="a-title" href="/">
    <div id="gamepage-title">
      <div class="gamepage-title">
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
      </div>
    </div>
  </a>


  <div class="gamebox-placeholder">
     @Html.Partial("_game")
  </div>

  <div class="change-background">
    <div class="background-title">
      <p>Change Background</p>
    </div>
    <div class="background-themes">
      <div class="background-theme-one">
        <p>Fallen from Earth</p>
      </div>
      <div class="background-theme-two">

        <p>The Great Float</p>
      </div>
      <div class="background-theme-three">

        <p>Mystic Moon</p>
      </div>
    </div>

  </div>


</div>
