@{
  Layout = "_Layout";
}


<div class="gamepage-container box">
  @Html.Partial("_menubar")
  <div class="gamepage-title box">
    <p>Title</p>
  </div>

  <div class="gamebox-placeholder box">

  </div>
</div>
