@{
  Layout = "_Layout";
}


<div class="gamepage-container">
  @Html.Partial("_menubar")


  <a class="a-title" href="/">
    <div id="gamepage-title">
      <div class="gamepage-title">
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
        <h1>stjörnu</h1>
      </div>
    </div>
  </a>


  <div class="gamebox-placeholder">
     @Html.Partial("_game")
  </div>

  <p class="change-background">Change background</p>

</div>
