@using SpaceShooter.ViewModels;
@model IndexModel

@{
  Layout = "_Layout";
}

<div class="container box">
  @Html.Partial("_menubar")

  <div id="title">
      <div class="title">
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      </div>
    </div>

  <div class="links">
    <a class="links-start" href="/gamepage">Start</a>
    @if (Model.CurrentSession == null)
    {
      <a class="links-login">Login</a>
      <a class="links-register">Register</a>
    }
    else
    {
      //TODO: CHANGE THIS P TAGS CLASS SO THAT IT DOESN'T HAVE THE LOGIN FORM POPUP
      <a href="/logout"><p class="links-logout">Log Out</p></a>
    }
    @* CSS no touch *@
  </div>

  <div class="login-form">

    <form action="/login" method="post">
      <label for="user-name"></label>
      <input id="user-name" name="user-name" type="text" placeholder="Login Name">
      <label for="user-password"></label>
      <input id="user-password" name="user-password" type="password" placeholder="Password">
      <button type="submit" name="submit-button">Login</button>
    </form>
    @if(Model.LoginSuccess)
    {
      <p>Logged In</p>
    }
    @if(Model.LoginFailed)
    {
      <p>Log Failed</p>
    }
</div>
<div class="register-form">
  <form action="/register" method="post">
    <label for="user-name"></label>
    <input id="user-name" name="user-name" type="text" placeholder="New Login Name">
    <label for="user-password"></label>
    <input id="user-password" name="user-password" type="password" placeholder="New Password">
    <button type="submit" name="submit-button">Register</button>
  </form>
  @if (Model.RegisterSuccess)
  {
    <br>
    <p>Successfully registered @Model.RegisteredPlayer.Username!</p>
  }

</div>

@if (Model.RegisterFailed)
{
  <br>
  <p>Username is already in use</p>
}

<div class="login-result">

  @if (Model.CurrentSession != null)
  {
    <p>Logged In User: @Model.CurrentSession.PlayerId</p>
  }
  else
  {
    <p>No user logged in</p>
  }
</div>
</div>
