@{
  Layout = "_Layout";
}

<div class="container box">
  @Html.Partial("_menubar")

  <div id="title">
      <div class="title">
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      </div>
    </div>

  <div class="links">
    <p class="links-start">Start</p>
    <p class="links-login">Login</p>
    <p class="links-register">Register</p>
  </div>

</div>
