@using SpaceShooter.ViewModels;
@model IndexModel

@{
  Layout = "_Layout";
}

<div class="container">
  @Html.Partial("_menubar")

  <div id="title">
      <div class="title">
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      </div>
    </div>

  <div class="links">
    <a class="links-start" href="/gamepage">Start</a>
    @if (Model.CurrentSession == null)
    {
      <a class="links-login">Login</a>
      <a class="links-register">Register</a>
    }
    else
    {
      //TODO: CHANGE THIS P TAGS CLASS SO THAT IT DOESN'T HAVE THE LOGIN FORM POPUP
      <a href="/logout"><p class="links-logout">Log Out</p></a>
    }
    @* CSS no touch *@
  </div>

  <div class="login-form">

    <form action="/login" method="post">
      <label for="user-name"></label>
      <input id="user-name" name="user-name" type="text" required placeholder="Login Name">
      <label for="user-password"></label>
      <input id="user-password" name="user-password" type="password" required placeholder="Password">
      <button type="submit" name="submit-button">Login</button>
    </form>
</div>
<div class="register-form">
  <form action="/register" method="post">
    <label for="user-name"></label>
    <input id="user-name" name="user-name" type="text" required placeholder="New Login Name">
    <label for="user-password"></label>
    <input id="user-password" name="user-password" type="password" required placeholder="New Password">
    <button type="submit" name="submit-button">Register</button>
  </form>
  <div class="warning">
    <p>*For educational purposes only, do not enter any sensitive information.</p>
  </div>
</div>
<div class="how-to">
  <p>If new User please Register</p>
</div>


</div>
