@{
  Layout = "_Layout";
}

<div class="container box">
  @Html.Partial("_menubar")

  <div id="title">
      <div class="title">
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      </div>
    </div>

  <div class="links">
    <a href="/gamepage"><p class="links-start">Start</p></a>
    <a href="/login"><p class="links-login">Login</p></a>
    <a href="/register"><p class="links-register">Register</p></a>
  </div>

</div>
