@{
  Layout = "_Layout";
}

@Html.Partial("_menubar")
<div class="container box">

  <div class="title box">
    <p>Title</p>
  </div>

  <div class="links box">
    <p>Start</p>
    <p>Login</p>
    <p>Register</p>
  </div>

</div>
