@using SpaceShooter.ViewModels;
@model IndexModel

@{
  Layout = "_Layout";
}

<div class="container box">
  @Html.Partial("_menubar")

  <div id="title">
      <div class="title">
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      </div>
    </div>

  <div class="links">
    <a class="links-start" href="/gamepage">Start</a>
    <a class="links-login">Login</a>
    <a class="links-register">Register</a>
    @* CSS no touch *@
  </div>

  <div class="login-form">

    <form action="/login" method="post">
      <label for="user-name"></label>
      <input id="user-name" name="user-name" type="text" placeholder="Login Name">
      <label for="user-password"></label>
      <input id="user-password" name="user-password" type="password" placeholder="Password">
      <button type="submit" name="submit-button">Login</button>
    </form>
    @* @if(Model.LoginSuccess)
    {
    <p>Logged In</p>
  }
  @if(Model.LoginFailed)
  {
  <p>Log Failed</p>
} *@
</div>
<div class="register-form">
  <form action="/register" method="post">
    <label for="user-name"></label>
    <input id="user-name" name="user-name" type="text" placeholder="New Login Name">
    <label for="user-password"></label>
    <input id="user-password" name="user-password" type="password" placeholder="New Password">
    <button type="submit" name="submit-button">Register</button>
  </form>
  @* @if (Model.RegisterSuccess)
  {
    <br>
    <p>Successfully registered @Model.RegisteredPlayer.Username!</p>
  }
  @if (Model.RegisterFailed)
  {
    <br>
    <p>Username is already in use</p>
  } *@

</div>


</div>
