@{
  Layout = "_Layout";
}

@Html.Partial("_menubar")
<div class="container box">

  <div id="title">
      <div class="title">
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      	<h1>SPACE SHOOTER</h1>
      </div>
    </div>

  <div class="links box">
    <p>Start</p>
    <p>Login</p>
    <p>Register</p>
  </div>

</div>
