@using SpaceShooter.Models;
@using SpaceShooter.ViewModels;
@model LeaderboardModel

@{
  Layout = "_Layout";
}

<div class="leaderboard-container">
  @Html.Partial("_menubar")
  <div class="leaderboard-wrapper">

    <div id="leaderboard-title">
      <div class="leaderboard-title">
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      	<h1>stjörnu</h1>
      </div>
    </div>

    <div class="leaderboard-header">
      <p>Leaderboard</p>
    </div>

    <div class="leaderboard-results-wrapper">

      @foreach (PlayerListEntry entry in Model.Leaderboard)
      {
        <a href="/profile/@entry.PlayerId">
          <div class="leaderboard-result">
            <div class="leaderboard-pic">
              <img src="../../img/profile-pic.png">
            </div>
            <div class="leaderboard-name">
              <div class="leaderboard-profile-name">
                <p>@entry.Name</p>
              </div>
              <div class="leaderboard-profile-rank">
                <p>@entry.Score</p>
              </div>
            </div>
          </div>
        </a>
      }

    </div>
  </div>
</div>
