@{
  Layout = "_Layout";
}


<div class="profile-container box">
  @Html.Partial("_menubar")

  <div class="profile-top box">
    <div class="profile-col-1 box">
      <div class="profile-pic box">
        <img src="../../img/profile-pic.png" alt="">
      </div>
      <p>Username</p>
      <div class="profile-links box">
        <p id="sprite-button">Sprite</p>
        <p id="theme-button">Theme</p>
        <p id="score-button">Scores</p>
      </div>
    </div>
    <div class="profile-col-2 box">

      <div class="profile-info box">
        <div class="sprites-prompt">
          <p>Choose your sprite</p>
        </div>
        <div class="themes-prompt">
          <p>Choose your theme</p>
        </div>
        <div class="scores-prompt">
          <p>Scores</p>
        </div>
      </div>

      <div class="profile-cube box">
        <div class="profile-sprites-hide">
          <div class="profile-sprites">
            <div class="sprite-one box profile-quadrant" id="sprite-one">
              <p>Ship Name</p>
              <img src="../../img/profile-pic.png">
            </div>
            <div class="sprite-two box profile-quadrant" id="sprite-two">
              <p>Ship Name</p>
              <img src="../../img/profile-pic.png">
            </div>
            <div class="sprite-three box profile-quadrant" id="sprite-three">
              <p>Ship Name</p>
              <img src="../../img/profile-pic.png">
            </div>
            <div class="sprite-four box profile-quadrant" id="sprite-four">
              <p>Ship Name</p>
              <img src="../../img/profile-pic.png">
            </div>
          </div>
        </div>
        <div class="profile-themes-hide">
          <div class="profile-themes">
            <div class="theme-one profile-quadrant">
              <p>Color</p>
            </div>
            <div class="theme-two profile-quadrant">
              <p>Color</p>
            </div>
            <div class="theme-three profile-quadrant">
              <p>Color</p>
            </div>
            <div class="theme-four profile-quadrant">
              <p>Color</p>
            </div>
          </div>
        </div>
        <div class="profile-scores-hide">
          <div class="profile-scores">
            <div class="score-one profile-quadrant">
              <p>Score</p>
            </div>
            <div class="score-two profile-quadrant">
              <p>Score</p>
            </div>
            <div class="score-three profile-quadrant">
              <p>Score</p>
            </div>
            <div class="score-four profile-quadrant">
              <p>Score</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-bottom box">
    <div class="profile-friends box">
      <div class="profile-friend">

      </div>
      <div class="profile-friend">

      </div>
      <div class="profile-friend">

      </div>
      <div class="profile-friend">

      </div>
    </div>
    <p>View All Friends</p>
  </div>

</div>
