@using SpaceShooter.ViewModels;
@model SearchModel

@{
  Layout = "_Layout";
}

<div class="search-container">
  @Html.Partial("_menubar")
  <div class="search-wrapper">

    <div id="search-title">
        <div class="search-title">
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        	<h1>stjörnu</h1>
        </div>
      </div>

    <form class="search-form" action="index.html" method="post">
      <input type="text" name="search-input" id="search-input" placeholder="Search">
      <button type="button" name="search-input">Go</button>
    </form>

    <div class="search-results-wrapper">

      @foreach(string key in Model.Results.Keys)
      {
        <div class="search-result">
          <div class="search-pic">
            <img src="../../img/profile-pic.png">
          </div>
          <div class="search-name">
          <div class="search-profile-name">
            <p>@key</p>
          </div>
          <div class="search-profile-rank">
            <p>High Score</p>
            <p>@Model.Results[key]</p>
          </div>
          </div>
        </div>
      }

    </div>
  </div>
</div>
