@{
  Layout = "_Layout";
}

@Html.Partial("_menubar")


<div class="search-container box">
  
  <div class="search-result box">
    <div class="search-pic box">
      <p>pic</p>

    </div>
    <div class="search-name box">
      <p>sup</p>
    </div>
  </div>

</div>
