@using SpaceShooter.ViewModels;
@model SearchModel

@{
  Layout = "_Layout";
}

<div class="search-container">
  @Html.Partial("_menubar")
  <div class="search-wrapper">

    <a class="a-title" href="/">
      <div id="search-title">
          <div class="search-title">
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          	<h1>stjörnu</h1>
          </div>
        </div>
      </a>

    <form class="search-form" action="/search" method="post">
      <input type="text" name="search-input" id="search-input" placeholder="Search">
      <button type="submit" id="search-button" name="search-input">Go</button>
    </form>

    <div class="search-results-wrapper">

      @foreach(string key in Model.Results.Keys)
      {
        <a href="/profile/@Model.Results[key].PlayerId">
          <div class="search-result">
            <div class="search-pic">
              <img src="../../img/playerShip1_blue.png">
            </div>
            <div class="search-name">
            <div class="search-profile-name">
              <p>@key</p>
            </div>
            <div class="search-profile-rank">
              <p>High Score</p>
              <p>@Model.Results[key].Score</p>
            </div>
            </div>
          </div>
        </a>
      }

    </div>
  </div>
</div>
