@{
  Layout = "_Layout";
}

@Html.Partial("_menubar")

<form id="search-bar">
  <input type="text" name="search-input" id="search-input" placeholder="Search">
</form>

<div class="search-container">

  <div class="search-result">
    <div class="search-pic">
      

    </div>
    <div class="search-name">

    </div>
  </div>

</div>
