.gamepage-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamebox-placeholder {
  background-color: rgba(0, 0, 0, .5);
  border: 3px solid grey;
  border-radius: 5px;
}

.change-background {
  position: absolute;
  top: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 640px
}

.background-title {
  background-color: rgba(0,0,0,0.5);
  border: 2px solid $black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  &:hover {
    background-color: rgba(150,150,150,0.5);
    cursor: pointer;
  }
    p{
      padding: 10px;
      font-size: 30px;
      color: white;
      text-shadow: 1px 1px 1px black;
    }
}

.background-themes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.background-theme-one, .background-theme-two, .background-theme-three {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  &:hover {
    border: 2px solid $black;
  }

  p {
    font-size: 20px;
    color: $black;
    text-shadow: 1px 1px 1px black;
  }
}

.border-glow {
  border: 2px solid $black;
  box-shadow: 0 0 5px 1px white;
}

.background-theme-one, .background-theme-one-toggle {
  background-image: url(../../img/background-one.jpg);
  background-size: cover;
}

.background-theme-two, .background-theme-two-toggle {
  background-image: url(../../img/background-2.jpg);
  background-size: cover;
}

.background-theme-three, .background-theme-three-toggle {
  background-image: url(../../img/background.jpg);
  background-size: cover;
}
