.add-friend-button {
  height: 60px;
  width: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  transition: border-radius .5s, width .5s, height .5s;
  margin-bottom: 10px;
    p {
      transition: transform .5s;
    }

  &:hover {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    .line-one {
      transform: translateX(37.5px) translateY(12.5px) rotate(90deg);
      width: 50px;
    }

    .line-two {
      transform: translateX(-142.5px) translateY(12.5px) rotate(90deg);
      width: 50px;
    }

    .line-three {
      transform: translateX(12.5px) translateY(-22.5px);
      width: 50px;
    }

    .line-four {
      transform: translateX(12.5px) translateY(37.5px);
      width: 50px;
    }
    p {
      transform: scale(0);
    }
  }
}

.line-one, .line-two, .line-three, .line-four {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .5s, width .5s;
  background-color: white;
}

.line-one {
  width: 60px;
  height: 2px;
  transform: rotate(90deg);
  transform-origin: left;
}

.line-two {
  left: 180px;
  width: 60px;
  height: 2px;
  transform: rotate(90deg);
  transform-origin: left;
}


.line-three {
  width: 180px;
  height: 2px;
  top: 60px;
}

.line-four {
  width: 180px;
  height: 2px;
}
