.menu-circle {
  margin-right: 70px;
  width: 50px;
  height: 50px;
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px;
  align-self: flex-end;

  &:hover {
    cursor: pointer;
    .bar-one {
      animation: bar-one .25s  1 linear;
      transform-origin: top;
      animation-fill-mode: forwards;
    }
    .bar-three {
      animation: bar-three .25s  1 linear;
      animation-fill-mode: forwards;
    }
  }
}

.bar-one, .bar-two, .bar-three {
  width: 20px;
  height: 2px;
  background-color: $black;
}

.x-active {
  color: $black;
  .bar-one {
    animation: bar-one-line .15s  1 linear;
    animation-fill-mode: forwards;
  }
  .bar-three {
    animation: bar-three-line .15s  1 linear;
    animation-fill-mode: forwards;
  }

  .menu-game {
    animation: menu-game .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    // background-color: green;
  }
  .menu-profile {
    animation: menu-profile .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    // background-color: blue;
  }
  .menu-main {
    animation: menu-main .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    // background-color: red;
  }
  .menu-leaderboard {
    animation: menu-leaderboard .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    // background-color: orange;
  }
  .menu-search {
    animation: menu-search .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    // background-color: purple;
  }

    &:hover {
      .bar-one {
        animation: bar-one-x .5s  linear;
        animation-fill-mode: forwards;
      }
      .bar-two {
        animation: bar-two-x .5s  1 linear;
        animation-fill-mode: forwards;
      }
      .bar-three {
        animation: bar-three-x .5s  1 linear;
        animation-fill-mode: forwards;
      }
    }


}

.menu-game, .menu-profile, .menu-main, .menu-leaderboard, .menu-search {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: none;
  color: $text-1;
}


.menu-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px white;
  }
}



.menu-game {
  &:hover {
    transform: scale(1.5);
  }
}

.menu-profile {
  &:hover {
    transform: scale(1.5);
  }
}

.menu-main {
  &:hover {
    transform: scale(1.5);
  }
}

.menu-leaderboard {
  &:hover {
    transform: scale(1.5);
  }
}

.menu-search {
  &:hover {
    transform: scale(1.5);
  }
}

// menu-circle CROSS
@keyframes bar-one {
  0% {}
  100% {transform: translateY(8px) translateX(1px) rotate(90deg);}
}

@keyframes bar-three {
  0% {}
  100% {transform: translateY(-8px);}
}
// END menu-circle CROSS


// menu-circle SINGLE LINE
@keyframes bar-one-line {
  0% {transform: translateY(8px);}
  100% {transform: translateY(8px);}
}

@keyframes bar-three-line {
  0% {transform: translateY(-8px);}
  100% {transform: translateY(-8px);}
}
// END menu-circle SINGLE LINE


// menu-circle X
@keyframes bar-one-x {
  0% {transform: translateY(8px);}
  // 0% {transform: translateY(8px) translateX(1px) rotate(-90deg);}
  // 100% {transform: translateY(8px) rotate(-45deg);}
  100% {transform: translateY(9px) translateX(1px) rotate(135deg);}

}

@keyframes bar-two-x {
  0% {}
  100% {transform: rotate(135deg);}
}

@keyframes bar-three-x {
  0% {transform: translateY(-8px);}
  100% {transform:translateY(-8px) rotate(45deg);}
}
// END menu-circle X

@keyframes menu-game {
  0% {}
  100% {left: -600px;}
}

@keyframes menu-profile {
  0% {}
  100% {left: -500px;}
}

@keyframes menu-main {
  0% {}
  100% { left: -400px;}
}

@keyframes menu-search {
  0% {}
  100% { left: -300px;}
}

@keyframes menu-leaderboard {
  0% {}
  100% { left: -150px;}
}


@keyframes search-drop {
  0% {}
  100% { top: 100px ;
          left: -200px;}
}
