<div class="menu box">


  <div class="menu-circle">
    <div class="bar-one"></div>
    <div class="bar-two"></div>
    <div class="bar-three"></div>

    <div class="menu-game">
      <div class="menu-flex">
        <a href="/gamepage">Game</a>
      </div>
    </div>
    <div class="menu-main">
      <div class="menu-flex">
        <a href="/">Main Menu</a>
      </div>
    </div>
    <div class="menu-profile">
      <div class="menu-flex">
        <a href="/profile">Profile</a>
      </div>
    </div>
    <div class="menu-search">
      <div class="menu-flex">
        <a href="/search">Search</a>
      </div>
    </div>
    <div class="menu-leaderboard">
      <div class="menu-flex">
        <a href="#">Leaderboard</a>
      </div>
    </div>
  </div>

</div>
