<div class="menu box">
  <p>menu left</p>
  <form id="search-bar">
    <input type="text" name="search-input" id="search-input" placeholder="Search">
  </form>
  <div class="menu">
    <div class="bar-one"></div>
    <div class="bar-two"></div>
    <div class="bar-three"> </div>

    <div class="about-me">
      <p>About Me</p>
    </div>
    <div class="my-work">
      <p>My Work</p>
    </div>
    <div class="contact-page">
      <p>Contact Me</p>
    </div>
  </div>

</div>
