<div class="menu box">
  <form class="search-form" action="index.html" method="post">
    <input type="text" name="search-input" id="search-input" placeholder="Search">
    <button type="button" name="search-input">Go</button>
  </form>
  <div class="menu-circle">
    <div class="bar-one"></div>
    <div class="bar-two"></div>
    <div class="bar-three"></div>

    <div class="menu-game">
      <div class="menu-flex">
        <p>Game</p>
      </div>
    </div>
    <div class="menu-profile">
      <div class="menu-flex">
        <p>Profile</p>
      </div>
    </div>
    <div class="menu-login">
      <div class="menu-flex">
        <p>Login</p>
      </div>
    </div>
    <div class="menu-leaderboard">
      <div class="menu-flex">
        <p>Leaderboard</p>
      </div>
    </div>
    <div class="menu-register">
      <div class="menu-flex">
        <p>Register</p>
      </div>
    </div>
  </div>

</div>
