.login-form, .register-form {
  width: 300px;
  height: 200px;
  display: none;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      font-size: 30px;
      font-family: 'Orbitron', sans-serif;
      padding: 15px;
      background-color: rgba(0,0,0,0.5);
      border-radius: 5px;
      margin-bottom: 10px;
      color: $black;
    }
    input::placeholder {
      font-family: 'Orbitron', sans-serif;
      color: grey;
    }
    input:focus {
      background-color: rgba(0,0,0,0.8);
    }
    button {
      font-size: 30px;
      margin-top: 10px;
      font-family: 'Orbitron', sans-serif;
      border-radius: 5px;
      font-weight: 800;
      text-transform: uppercase;
      padding: 10px 10px 7px 10px;
      background-color: rgba(150,150,150,0.6);
    }
    button:active {
      background-color: rgba(150,150,150,0.9);

    }
  }
}
