@import url("https://fonts.googleapis.com/css?family=Orbitron|Passion+One");
body {
  background: url("../../img/space-bg.jpg");
  background-size: cover;
  font-family: 'Orbitron', sans-serif; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  height: 100%;
  width: 100%; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.gamepage-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 100vh;
  position: relative; }

.box {
  min-height: 100px;
  min-width: 200px; }

.links {
  display: flex;
  flex-direction: column;
  align-items: center; }

.gamebox-placeholder {
  width: 1000px;
  height: 800px;
  position: absolute;
  top: 300px;
  left: 100px; }

.box {
  border: 1px solid black; }

.menu {
  position: fixed;
  top: 0;
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.menu-circle {
  position: absolute;
  top: 25px;
  left: 1100px; }

.login-result {
  color: white; }

.gamepage-title {
  position: absolute;
  left: 50%;
  top: 200px; }

#title {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  animation: pop 3s ease 1;
  animation-fill-mode: forwards; }

.title {
  display: flex;
  justify-content: center;
  transform: rotate3d(-1, 1, 0, 30deg);
  transform-origin: center center;
  transform-style: preserve-3d; }

h1 {
  font-size: 200px;
  animation: glow 5s ease-in-out infinite;
  position: absolute;
  text-decoration: underline; }

@keyframes glow {
  0% {
    text-shadow: 0 0 30px royalblue; }
  25% {
    text-shadow: 0 0 30px honeydew; }
  50% {
    text-shadow: 0 0 30px hotpink; }
  75% {
    text-shadow: 0 0 30px limegreen; }
  100% {
    text-shadow: 0 0 30px royalblue; } }
@keyframes pop {
  0% {
    transform: scale(0) translateY(0); }
  100% {
    transform: scale(1) translateY(-150px); } }
h1:nth-child(2) {
  transform: translateZ(5px); }

h1:nth-child(3) {
  transform: translateZ(10px); }

h1:nth-child(4) {
  transform: translateZ(15px); }

h1:nth-child(5) {
  transform: translateZ(20px); }

h1:nth-child(6) {
  transform: translateZ(25px); }

h1:nth-child(7) {
  transform: translateZ(30px); }

h1:nth-child(8) {
  transform: translateZ(35px); }

h1:nth-child(9) {
  transform: translateZ(40px); }

h1:nth-child(10) {
  transform: translateZ(45px); }

.links {
  animation: fadeIn 3s ease 3s 1;
  opacity: 0;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.links {
  animation: fadeIn 3s ease 3s 1;
  opacity: 0;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.menu-circle {
  margin-right: 70px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px;
  align-self: flex-end; }
  .menu-circle:hover {
    cursor: pointer; }
    .menu-circle:hover .bar-one {
      animation: bar-one .25s  1 linear;
      transform-origin: top;
      animation-fill-mode: forwards; }
    .menu-circle:hover .bar-three {
      animation: bar-three .25s  1 linear;
      animation-fill-mode: forwards; }

.bar-one, .bar-two, .bar-three {
  width: 20px;
  height: 2px;
  background-color: #fff; }

.x-active {
  color: #fff; }
  .x-active .bar-one {
    animation: bar-one-line .15s  1 linear;
    animation-fill-mode: forwards; }
  .x-active .bar-three {
    animation: bar-three-line .15s  1 linear;
    animation-fill-mode: forwards; }
  .x-active .menu-game {
    animation: menu-game .5s ease-in-out 0s 1;
    animation-fill-mode: forwards; }
  .x-active .menu-profile {
    animation: menu-profile .5s ease-in-out 0s 1;
    animation-fill-mode: forwards; }
  .x-active .menu-main {
    animation: menu-main .5s ease-in-out 0s 1;
    animation-fill-mode: forwards; }
  .x-active .menu-leaderboard {
    animation: menu-leaderboard .5s ease-in-out 0s 1;
    animation-fill-mode: forwards; }
  .x-active .menu-search {
    animation: menu-search .5s ease-in-out 0s 1;
    animation-fill-mode: forwards; }
  .x-active:hover .bar-one {
    animation: bar-one-x .5s  linear;
    animation-fill-mode: forwards; }
  .x-active:hover .bar-two {
    animation: bar-two-x .5s  1 linear;
    animation-fill-mode: forwards; }
  .x-active:hover .bar-three {
    animation: bar-three-x .5s  1 linear;
    animation-fill-mode: forwards; }

.menu-game, .menu-profile, .menu-main, .menu-leaderboard, .menu-search {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: none;
  color: #fff; }

.menu-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100%; }
  .menu-flex a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px white; }

.menu-game:hover {
  transform: scale(1.5); }

.menu-profile:hover {
  transform: scale(1.5); }

.menu-main:hover {
  transform: scale(1.5); }

.menu-leaderboard:hover {
  transform: scale(1.5); }

.menu-search:hover {
  transform: scale(1.5); }

@keyframes bar-one {
  100% {
    transform: translateY(8px) translateX(1px) rotate(90deg); } }
@keyframes bar-three {
  100% {
    transform: translateY(-8px); } }
@keyframes bar-one-line {
  0% {
    transform: translateY(8px); }
  100% {
    transform: translateY(8px); } }
@keyframes bar-three-line {
  0% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(-8px); } }
@keyframes bar-one-x {
  0% {
    transform: translateY(8px); }
  100% {
    transform: translateY(9px) translateX(1px) rotate(135deg); } }
@keyframes bar-two-x {
  100% {
    transform: rotate(135deg); } }
@keyframes bar-three-x {
  0% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(-8px) rotate(45deg); } }
@keyframes menu-game {
  100% {
    left: -600px; } }
@keyframes menu-profile {
  100% {
    left: -500px; } }
@keyframes menu-main {
  100% {
    left: -400px; } }
@keyframes menu-search {
  100% {
    left: -300px; } }
@keyframes menu-leaderboard {
  100% {
    left: -150px; } }
@keyframes search-drop {
  100% {
    top: 100px;
    left: -200px; } }
.links {
  transform: rotate(5deg) translate(50px, -75px); }
  .links a {
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 1em;
    color: #fff;
    text-shadow: 1px 1px 1px white; }
    .links a:hover {
      background-image: linear-gradient(90deg, black, transparent);
      cursor: pointer; }
  .links a:first-child {
    transform: translateX(75px);
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff; }
  .links a:nth-child(2) {
    transform: translateX(0);
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff; }
  .links a:last-child {
    transform: translateX(-75px);
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff; }

.profile-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff; }

.profile-top {
  display: flex;
  flex-grow: 1;
  margin-top: 100px; }

.profile-col-1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.profile-pic {
  width: 250px;
  height: 250px; }

.profile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 250px; }

.profile-col-2 {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.profile-info {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid grey; }
  .profile-info p {
    font-size: 50px; }

.friends-prompt {
  text-align: center;
  display: flex; }
  .friends-prompt p {
    font-size: 50px;
    margin: 15px; }
  .friends-prompt a {
    text-decoration: none;
    color: grey;
    font-size: 20px; }

.profile-cube {
  width: 600px;
  height: 500px; }

.profile-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 25vh; }

.profile-scores {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%; }

.scoreboard-titles {
  display: flex;
  width: 100%; }

.profile-score {
  width: 20%;
  border: 2px solid grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 10px;
  margin: 5px; }
  .profile-score:hover {
    background-color: rgba(150, 150, 150, 0.5);
    cursor: pointer; }

.scoreboard-highlight {
  border: 3px solid #fff; }

.scoreboard-score p {
  font-size: 50px;
  margin-bottom: 15px; }

.high-score-score {
  display: block; }

.enemies-defeated-score, .time-played-score, .total-scores-score, .last-play-score {
  display: none; }

.profile-pic img {
  width: 100%;
  height: 100%; }

#profile-username {
  font-size: 35px;
  text-shadow: 2px 2px 2px grey; }

#sprite-button, #theme-button, #friend-button {
  padding: 10px;
  font-size: 25px;
  width: 125px; }
  #sprite-button:hover, #theme-button:hover, #friend-button:hover {
    background-image: linear-gradient(90deg, black, transparent);
    cursor: pointer; }

.button-border {
  border-left: 2px solid grey;
  border-bottom: 2px solid grey; }

.profile-button-click {
  background-image: linear-gradient(90deg, black, transparent);
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff; }

.profile-sprites, .profile-themes, .profile-friends {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.profile-sprites-hide, .profile-themes-hide, .profile-friends-hide, .sprites-prompt, .themes-prompt, .friends-prompt {
  display: none; }

.profile-quadrant {
  width: 289px;
  height: 240px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid grey;
  border-radius: 5px; }
  .profile-quadrant p {
    font-size: 30px; }
  .profile-quadrant img {
    width: 100px;
    height: 100px;
    transform: translateY(130px);
    animation: flyin 1s ease-in-out 0s 1;
    animation-fill-mode: forwards; }

.profile-quadrant:hover {
  background-color: rgba(150, 150, 150, 0.5);
  cursor: pointer; }

.profile-quadrant-click {
  border: 3px solid #fff; }

@keyframes flyin {
  100% {
    transform: translateY(-30px); } }
.login-form, .register-form {
  width: 300px;
  height: 200px;
  display: none; }
  .login-form form, .register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .login-form form input, .register-form form input {
      font-size: 30px;
      font-family: 'Orbitron', sans-serif;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      margin-bottom: 10px;
      color: #fff; }
    .login-form form input::placeholder, .register-form form input::placeholder {
      font-family: 'Orbitron', sans-serif;
      color: grey; }
    .login-form form input:focus, .register-form form input:focus {
      background-color: rgba(0, 0, 0, 0.8); }
    .login-form form button, .register-form form button {
      font-size: 30px;
      margin-top: 10px;
      font-family: 'Orbitron', sans-serif;
      border-radius: 5px;
      font-weight: 800;
      text-transform: uppercase;
      padding: 10px 10px 7px 10px;
      background-color: rgba(150, 150, 150, 0.6); }
    .login-form form button:active, .register-form form button:active {
      background-color: rgba(150, 150, 150, 0.9); }

.search-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: column; }

.search-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; }

.search-form {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search-form input {
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #fff; }
  .search-form input::placeholder {
    font-family: 'Orbitron', sans-serif;
    color: grey; }
  .search-form input:focus {
    background-color: rgba(0, 0, 0, 0.8); }
  .search-form button {
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 17px 17px 14px 17px;
    background-color: rgba(150, 150, 150, 0.6); }
  .search-form button:active {
    background-color: rgba(150, 150, 150, 0.9); }

.search-results-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 70%; }

.search-result {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: 10px; }
  .search-result:hover {
    background-color: rgba(150, 150, 150, 0.5);
    cursor: pointer; }

.search-pic {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-right: 10px; }
  .search-pic img {
    width: 100%;
    height: 100%; }

.search-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; }

.search-profile-name {
  margin-left: 40px; }
  .search-profile-name p {
    font-size: 40px;
    color: #fff; }

.search-profile-rank {
  width: 350px;
  text-align: center;
  margin-right: 20px; }
  .search-profile-rank p:first-child {
    color: grey;
    font-size: 20px;
    margin-bottom: 5px; }
  .search-profile-rank p:last-child {
    color: #fff;
    font-size: 30px; }

#search-title {
  height: 200px;
  position: absolute;
  top: -40px;
  left: 15px; }

.search-title {
  transform: rotate3d(-1, 1, 0, 30deg);
  transform-origin: center center;
  transform-style: preserve-3d; }
  .search-title h1 {
    font-size: 100px;
    animation: glow 5s ease-in-out infinite;
    position: absolute;
    text-decoration: underline; }

@keyframes glow {
  0% {
    text-shadow: 0 0 30px royalblue; }
  25% {
    text-shadow: 0 0 30px honeydew; }
  50% {
    text-shadow: 0 0 30px hotpink; }
  75% {
    text-shadow: 0 0 30px limegreen; }
  100% {
    text-shadow: 0 0 30px royalblue; } }
h1:nth-child(2) {
  transform: translateZ(5px); }

h1:nth-child(3) {
  transform: translateZ(10px); }

h1:nth-child(4) {
  transform: translateZ(15px); }

h1:nth-child(5) {
  transform: translateZ(20px); }

h1:nth-child(6) {
  transform: translateZ(25px); }

h1:nth-child(7) {
  transform: translateZ(30px); }

h1:nth-child(8) {
  transform: translateZ(35px); }

h1:nth-child(9) {
  transform: translateZ(40px); }

h1:nth-child(10) {
  transform: translateZ(45px); }

#leaderboard-title {
  height: 200px;
  position: absolute;
  top: -40px;
  left: 15px; }

.leaderboard-title {
  transform: rotate3d(-1, 1, 0, 30deg);
  transform-origin: center center;
  transform-style: preserve-3d; }
  .leaderboard-title h1 {
    font-size: 100px;
    animation: glow 5s ease-in-out infinite;
    position: absolute;
    text-decoration: underline; }

@keyframes glow {
  0% {
    text-shadow: 0 0 30px royalblue; }
  25% {
    text-shadow: 0 0 30px honeydew; }
  50% {
    text-shadow: 0 0 30px hotpink; }
  75% {
    text-shadow: 0 0 30px limegreen; }
  100% {
    text-shadow: 0 0 30px royalblue; } }
h1:nth-child(2) {
  transform: translateZ(5px); }

h1:nth-child(3) {
  transform: translateZ(10px); }

h1:nth-child(4) {
  transform: translateZ(15px); }

h1:nth-child(5) {
  transform: translateZ(20px); }

h1:nth-child(6) {
  transform: translateZ(25px); }

h1:nth-child(7) {
  transform: translateZ(30px); }

h1:nth-child(8) {
  transform: translateZ(35px); }

h1:nth-child(9) {
  transform: translateZ(40px); }

h1:nth-child(10) {
  transform: translateZ(45px); }

.leaderboard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: column; }

.leaderboard-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; }

.leaderboard-header {
  margin-top: 100px;
  font-size: 70px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.leaderboard-results-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 60%; }

.leaderboard-result {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: 10px; }
  .leaderboard-result:hover {
    background-color: rgba(150, 150, 150, 0.5);
    cursor: pointer; }

.leaderboard-pic {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px; }
  .leaderboard-pic img {
    width: 100%;
    height: 100%; }

.leaderboard-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; }

.leaderboard-profile-name {
  margin-left: 40px; }
  .leaderboard-profile-name p {
    font-size: 25px;
    color: #fff; }

.leaderboard-profile-rank {
  width: 350px;
  text-align: center;
  margin-right: 20px; }
  .leaderboard-profile-rank p:last-child {
    color: #fff;
    font-size: 20px; }

/*# sourceMappingURL=master.css.map */
